@import "variableGlobal";
@import "operaciones";
@import "media";
@import "general";
@import "header";
@import "footer";
@import "index";
@import "pages";



@media screen and (min-width: 600px){
    .home-img{ 
        width: 560px;
        height: auto;
    }
    .hamb-img {
        width: 35px;
        padding-bottom: 3px;
    }

    /* Estilo work */
    .img-w{
        width: 535px;
    }

    .hamb-img {
        width: 35px;
        padding-bottom: 3px;
    }
    .container-w{
        padding-bottom: 27px;
    }
}

@media screen and (min-width: 760px){
    .home-img{
        width: 720px;
        height: auto;
        margin: 0px 21px;
    }
    .main-grilla-m {
        margin: 20px 0px 0px 0px;
    }
    .container-w{
        margin: 0px 34px;
    }

    /*Estilo Work*/
    .img-w{
        width: 697px;
    }
}

@media screen and (min-width: 845px){
    .home-img{
        width: 805px;
    }
    /*Estilo work */
    .img-w{
        width: 783px;
    }
    .linea-footer-divide {
        margin: 0px;
    }
}

@media screen and (min-width: 951px){
    /*Estilos de propiedades Nav*/
    .hamb-img{
        display: none;
    }
    .nav-checkbox-m{
        display: none;
    }
    .nav-sitio{
        clip-path: none;
        position: inherit;
        top: 0;
        display: block;
        padding: 0px 0px 0px 20px;
    }
    .nav-label{
        display: none;
    }
    .nav-container-m{
        border-bottom: none;
        display: block;
    }
    .nav-m{
        text-align: start;
    }
    /*Estilo Grilla*/
    .grilla-sitio{
        width: 100%;
        /*height: 100vh;*/
        display: grid;
        grid-template-areas: 
        "header main"
        "header main"
        "footer main";
        grid-template-columns: 20% auto;
        /*grid-template-rows: 1fr 2fr 1fr ;*/
    }

    header{
        grid-area: header;
        /*margin: 40px 0px 0px 30px;*/
        position: sticky;
        left: 0px;
        background: white;
        padding-bottom: 170px;
    }
    .main-grilla{
        padding-left: 9px;
        grid-area: main;
        margin: 40px 0px 0px 0px;
    }
    .main-grilla-contacto{
        margin: 40px 0px 271px 0px;
    }
    
    footer{
       /* margin-top: 580px;*/
        grid-area: footer;
        position: sticky;
        left: 0px;
        background: white;
    }
    
    /* Estilo de la navegacion*/
    .titulo-sitio-mobile{
        display: none;
    }
    .titulo-sitio{
        display: block;
        font: 18px 'Space Mono', monospace;
        color: black;
        font-weight: bold;
        word-spacing: 0px;
        letter-spacing: 0.5px;
        padding: 40px 0px 0px 29px;
    }
    
    nav{
        margin: 30px 0px 30px 10px;
    
    }
    nav a {
        display: block;
        margin: 0px 0px 25px 0px;
    }
    
    
    /* Estilo del footer */
    
    .linea-footer-divide{
        width: 80%;
    }
    .footer-redes-sociales{
        margin-top:15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }
    .info-sitio{
        margin: 15px 40px 10px 0px;
    }
    
    
    /*Estilo General del Mail*/
    
    .fotos-carrousel{
        display: flex;
    }
    
    .home-img{
        height:600px;
        width: auto;
        padding: 0;
        margin: 0;
    }

    /*Estilo work */
    .img-w{
        height: 550px;
        width: auto;
    }

    .text-center-d{
        text-align: center;
    }
}