@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,500;0,600;0,900;1,300;1,400&family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,200;1,300;1,700&family=Roboto+Slab:wght@200;300;400&family=Space+Mono:wght@400;700&display=swap");
/*Reseteo*/
* {
  Margin: 0px;
  Padding: 0px;
}

/*Estilos de propiedades generales*/
body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #6CA1F5;
}

ul li {
  list-style-type: none;
}

h1 {
  color: black;
}
h1 a:hover {
  color: black;
}

/* ---Mobile First 0px a 480 ---*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo de la navegacion*/
header nav li a {
  display: block;
  margin: 25px 0px;
}

.header-m {
  justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: white;
}
@media (min-width: 951px) {
  .header-m {
    padding-right: 72px;
    margin: 0px 0px 20px 0px;
    position: fixed;
    width: auto;
    height: 60%;
  }
}

.titulo-sitio {
  display: none;
}

.hamb-img {
  width: 30px;
  padding-bottom: 10px;
}

.nav-container-m {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgb(160, 154, 154) solid;
}

.titulo-sitio-mobile {
  font: 18px "Space Mono", monospace;
  color: black;
  font-weight: bold;
  word-spacing: 0px;
  letter-spacing: 0.5px;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 10px 20px;
}

.nav-checkbox-m {
  display: none;
}

.nav-m {
  font: 14px "Space Mono", monospace;
  font-weight: lighter;
  text-align: center;
  text-transform: capitalize;
  color: black;
  padding: 0px;
}

.nav-label {
  display: block;
  cursor: pointer;
  margin: 10px 10px 0px 10px;
}

.nav-sitio {
  position: fixed;
  top: 47px;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  -webkit-clip-path: circle(0 at center);
          clip-path: circle(0 at center);
}

.nav-checkbox-m:checked + .nav-sitio {
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
  background: white;
}

/* Estilo del footer */
footer {
  padding: 0px 20px;
}

.linea-footer-divide {
  height: 1px;
  width: 5%;
  background: black;
  margin: 30px 0 0 1px;
}

.footer-redes-sociales {
  display: none;
}

.icono-footer {
  width: auto;
  height: 14px;
  margin: 0 3px 0 3px;
}

.info-sitio {
  font: 10px "Space Mono", monospace;
  font-style: italic;
  font-weight: 100;
  margin: 15px 0px;
  line-height: 20px;
}

.copyright-sitio {
  font: 10px "Space Mono", monospace;
  font-weight: lighter;
  text-transform: uppercase;
}

.creditos-sitio {
  font: 10px "Space Mono", monospace;
  display: block;
  margin-top: 10px;
  text-transform: none;
}

.copyright-sitio a:hover {
  color: black;
}

/*Estilo General del Mail*/
.main-grilla-m {
  margin: 40px 0px 0px 0px;
}

.home-img {
  height: 656px;
  width: 440px;
  /*padding: 0px 20px;
  @include sizes (60%, auto);*/
  margin: -2px 20px;
}

/* Estilo about-me */
.estilo-about {
  text-decoration: underline;
}

.main-grilla-m {
  margin: 27px 0px;
}
.main-grilla-m article h1 {
  font: 18px "Space Mono", monospace;
  font-weight: bold;
  margin: 20px 0px;
  font-family: monospace;
}
@media (min-width: 951px) {
  .main-grilla-m article h1 {
    margin: 0px 0px 20px 0px;
  }
}
.main-grilla-m article h2 {
  font: 16px "Space Mono", monospace;
  line-height: 2.8rem;
  text-transform: uppercase;
}
.main-grilla-m article h3 {
  font: 16px "Space Mono", monospace;
  font-weight: bold;
  line-height: 2.8rem;
}
.main-grilla-m article p {
  font: 14px "Space Mono", monospace;
  margin-bottom: 30px;
  line-height: 28px;
}
.main-grilla-m article .expo-p {
  font: 14px "Space Mono", monospace;
  margin-bottom: 0px;
  line-height: 30px;
}
.main-grilla-m .fotos-carrousel .container-w .text-center-d a {
  margin-left: 23px;
}

/* Estilo contact */
.estilo-contact {
  text-decoration: underline;
}

.main-grilla-m .contacto {
  margin: 27px 20px;
}
.main-grilla-m div h1 {
  font: 18px "Space Mono", monospace;
  font-weight: bold;
  white-space: pre-wrap;
  margin: 20px 0px;
}
@media (min-width: 951px) {
  .main-grilla-m div h1 {
    margin: 0px 0px 20px 0px;
  }
}
.main-grilla-m div p {
  font: 14px "Space Mono", monospace;
  margin-bottom: 30px;
  line-height: 28px;
}
.main-grilla-m div p a {
  cursor: pointer;
  border-bottom: 1px solid;
}
.main-grilla-m div p a a:hover {
  color: black;
}
@media (min-width: 951px) {
  .main-grilla-m div p a a:hover {
    color: black;
  }
}

.main-grilla-contacto div {
  margin: 0px 21px;
}

/* Estilo work y personal photo */
.estilo-work {
  text-decoration: underline;
}

.estilo-personal {
  text-decoration: underline;
}

.container-w {
  display: block;
  /* padding: 0px 0px 20px 31px;*/
  margin: 0px 5px;
}

.work-s {
  font: 14px "Space Mono", monospace;
  cursor: pointer;
}

.img-w {
  width: 420px;
  margin: 0px 24px;
}

@media screen and (min-width: 600px) {
  .home-img {
    width: 560px;
    height: auto;
  }
  .hamb-img {
    width: 35px;
    padding-bottom: 3px;
  }
  /* Estilo work */
  .img-w {
    width: 535px;
  }
  .hamb-img {
    width: 35px;
    padding-bottom: 3px;
  }
  .container-w {
    padding-bottom: 27px;
  }
}
@media screen and (min-width: 760px) {
  .home-img {
    width: 720px;
    height: auto;
    margin: 0px 21px;
  }
  .main-grilla-m {
    margin: 20px 0px 0px 0px;
  }
  .container-w {
    /*margin: 0px 34px;*/
  }
  /*Estilo Work*/
  .img-w {
    width: 697px;
  }
}
@media screen and (min-width: 845px) {
  .home-img {
    width: 805px;
  }
  /*Estilo work */
  .img-w {
    width: 783px;
  }
  .linea-footer-divide {
    margin: 0px;
  }
}
@media screen and (min-width: 951px) {
  /*Estilos de propiedades Nav*/
  .hamb-img {
    display: none;
  }
  .nav-checkbox-m {
    display: none;
  }
  .nav-sitio {
    -webkit-clip-path: none;
            clip-path: none;
    position: inherit;
    top: 0;
    display: block;
    padding: 0px 0px 0px 20px;
  }
  .nav-label {
    display: none;
  }
  .nav-container-m {
    border-bottom: none;
    display: block;
  }
  .nav-m {
    text-align: start;
  }
  /*Estilo Grilla*/
  .grilla-sitio {
    width: 100%;
    /*height: 100vh;*/
    display: grid;
    grid-template-areas: "header main" "header main" "footer main";
    grid-template-columns: 20% auto;
    /*grid-template-rows: 1fr 2fr 1fr ;*/
  }
  header {
    grid-area: header;
    /*margin: 40px 0px 0px 30px;*/
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    background: white;
    padding-bottom: 170px;
  }
  .main-grilla {
    padding-left: 9px;
    grid-area: main;
    margin: 40px 0px 0px 0px;
  }
  .main-grilla-contacto {
    margin: 40px 0px 271px 0px;
  }
  footer {
    width: 245.5px;
    grid-area: footer;
    position: fixed;
    bottom: 0px;
    background: white;
  }
  /* Estilo de la navegacion*/
  .titulo-sitio-mobile {
    display: none;
  }
  .titulo-sitio {
    display: block;
    font: 18px "Space Mono", monospace;
    color: black;
    font-weight: bold;
    word-spacing: 0px;
    letter-spacing: 0.5px;
    padding: 40px 0px 0px 29px;
  }
  nav {
    margin: 30px 0px 30px 10px;
  }
  nav a {
    display: block;
    margin: 0px 0px 25px 0px;
  }
  /* Estilo del footer */
  .linea-footer-divide {
    width: 80%;
  }
  .footer-redes-sociales {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }
  .info-sitio {
    margin: 15px 40px 10px 0px;
  }
  /*Estilo General del Mail*/
  .fotos-carrousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .home-img {
    height: 600px;
    width: auto;
    padding: 0;
    margin: 0;
  }
  /*Estilo work */
  .img-w {
    height: 550px;
    width: auto;
  }
  .text-center-d {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */